[2018-06-30 23:48] nichannah opened #3 "Yatm crashes on 20/1/1968"
HI @nic good morning,  i am getting same error as you fixed for me before  like   WARNING from PE   183: set_date_c: Year zero is invalid. Resetting year to 1

WARNING from PE   183: set_date_c: Year zero is invalid. Resetting year to 1

forrtl: error (65): floating invalid
Image              PC                Routine            Line        Source
yatm_c2868e5b.exe  00000000006F8001  Unknown

[2018-07-01 00:13] #3 closed, assigned to nobody

[2018-07-01 06:43] nic commented on #3
Thanks to fix the error. :smiley:

[2018-08-08 11:19] nichannah opened #5 "YATM crashing when trying to determine forcing input"
@aekiss and @marshallward have both reported an error like this:

forrtl: severe (124): Invalid command supplied to EXECUTE_COMMAND_LINE
Image              PC                Routine            Line        Source
yatm_1044c48e.exe  00000000006326D1  Unknown               Unknown  Unknown
yatm_1044c48e.exe  00000000004E07F6  util_mod_mp_first          53  util.F90
yatm_1044c48e.exe  000000000040E54B

[2018-08-08 11:26] #5 closed, assigned to nobody

[2018-10-24 00:36] nichannah opened #8 "Improve YATM performance"
There are a couple of ways that YATM performance could be improved:

1. The runoff remapping checks conservation after applying weights to move from one grid to another and then again after moving all runoff that has landed to the ocean. Although it helps to do this twice if something goes wrong in one step but not the other the first check is redundant and it would make sense to remove this.

2.

[2018-11-16 02:35] nichannah opened #9 "Sanity check forcing fields"
Moved from https://github.com/OceansAus/access-om2/issues/38

[2018-11-16 02:38] nichannah opened #10 "Add 'days' as a unit for the model restart_period"
Presently the control namelist looks like this:

[code]

We want it to be:

[code]

[2018-12-07 05:09] nichannah opened #11 "simple_timers have a bug: optional arguments in init() are the wrong way around"
OK, I think there is a confluence of bugs … simple_timers_enabled() is returning .false. but it is being used to control include_first_call. And the timers are working overall because that’s the default
that would explain everything you are seeing

marshall [3:50 PM]
lmao....
also explains the low numbers youre getting too i suppose
https://arccss.slack.com/archives/C9Q7Y1400/p1544157553168800
nic

[2018-12-07 05:49] #11 closed, assigned to nobody

[2018-12-11 23:21] nichannah opened #14 "Add timers to YATM"
I’m going to put three new timers into YATM:  1) field read from disk 2) wait for ice 3) remap runoff

OK, I think we need a 4th timer: time to build k-d tree. That is happening once for every run

These are needed to help understand the variance in model timestep timing. e.g. @marshallward reported that in the 0.1 deg config:

[code]

[2018-12-12 00:07] marshallward commented on #14
Another sample output from the 1 degree:
[code]
AFAIK this anomalous slowdown happens at timestep 32 (note removal of step 1 by the timer) but does not happen again over the next ~900 steps.

[2018-12-12 00:10] marshallward commented on #14
In the 0.1 degee results @nichannah cites above, this is observed every 216 steps (=1 day) so it's a repeating issue.  The 1-degree results above are (as best I can tell) a one-time event.

[2018-12-12 00:56] #14 closed, assigned to nobody

[2018-12-12 01:01] nichannah commented on #14
Here is some output from a 1 month 1deg run:

[code]

The notable things I can see are:

- big difference between min and max field read times.
- a small ice_wait time is probably bad because increased likelihood that ice was waiting on YATM
- runoff numbers look ok.

These numbers look OK to me, I'm curious to see what the 0.1 looks like.

[2018-12-13 03:20] nichannah opened #17 "Basic libaccessom2 test using YATM, ice_stub and ocean_stub does not work"
The old instructions for running the test can be found in the README.md.  This test needs to be fixed and run periodically.

Fixing this issue will make it easier to track down existing problems found with YATM performance.

[2019-04-12 03:50] aidanheerdegen opened #20 "Support input4MIPs file naming convention."
We need to support the input4MIPS file naming convention as the JRA55-do dataset is being distributed through this channel.

A full description is here:

https://docs.google.com/document/d/1h0r8RZr_f3-8egBMMh7aqLwy3snpD6_MrDz1q8n5XUk/edit

But a representative example is the river runoff:

```ocean/day/friver/gn/v20180412/friver/friver_input4MIPs_atmosphericState_OMIP_MRI-JRA55-do-1-3_gn_19580101-

[2019-04-12 06:31] aidanheerdegen commented on #20
For the moment I have made a directory
```/g/data1/ua8/JRA55-do/input4MIPs```
with appropriately named symlinks to the input4MIPs data, like so:
[code]

[2019-04-12 06:32] aidanheerdegen commented on #20
Unfortunately these transformed files use `lon` and `lat` variables and dimensions, which are not supported by libaccessom2 currently.

https://github.com/OceansAus/libaccessom2/blob/5ec57165fb132cc28ecba5344701a1bc3cbac10d/libcouple/src/util.F90#L131-L137

[2019-07-24 00:40] aekiss opened #22 "floating invalid and atm and ice out of sync in IAF run"
Maurice and Ryan have been getting an "atm and ice models out of sync" error in 0.25 deg IAF runs using https://github.com/COSIMA/025deg_jra55_iaf/commit/383b27b4a76f7792a8510d92f3936a1d8e534f81

This config uses the latest libaccessom2 (b6caeab) but I don't know of any IAF runs that used anything newer than e8ad3723 (from  Aug 31, 2018) and there are many differences between them: https://github.

[2019-07-24 00:42] aekiss commented on #22
Not sure if it helps, but
`/short/public/rmh561/access-om2/025deg_jra55_iaf/archive/restart120/accessom2_restart.nml`
contains
[code]
so they're 1 day out of sync

[2019-07-24 05:39] mauricehuguenin commented on #22
Here are the changes to the config files in [383b27b](https://github.com/COSIMA/025deg_jra55_iaf/tree/383b27b4a76f7792a8510d92f3936a1d8e534f81) we did for the latest run which got us the error:

- we changed the queue, project and shortpath in [config.yaml](https://github.com/COSIMA/025deg_jra55_iaf/blob/master/config.yaml) to express, e14 and /short/e14
- we changed the ice_ocean_timestep = 1200

[2019-07-24 06:27] aekiss commented on #22
Restart 120 of `025deg_jra55v13_iaf_gmredi6` is at 2200-01-01T00:00:00. This is 1960 in the 5th JRA55 60-year forcing cycle, but there will be a probably-harmless 1-day or 2-day offset in the forcing in the 5th cycle due to leap year differences: https://github.com/COSIMA/access-om2/issues/149

The simplest thing to do is to keep the start date as 2200-01-01T00:00:00, which is what was done in `02

[2019-07-24 06:45] aekiss commented on #22
You may also need to copy `output120/ice/cice_in.nml` to your archive - see https://github.com/payu-org/payu/issues/193

[2019-07-24 19:34] rmholmes commented on #22
Yes I can successfully run and complete a 9 month run by linking directly to the unmodified `restart120/` and `output120/` from the `/g/data3/hh5/tmp/cosima/access-om2-025/025deg_jra55v13_iaf_gmredi6/` (providing I use `use_restart_time=.true.`).

Now to step through and find the floating invalid cause...

[2019-07-24 22:44] aekiss commented on #22
OK thanks for confirming. I think this issue can now be closed, but feel free to re-open if you see this problem again.

[2019-07-24 22:52] rmholmes commented on #22
Ok thanks Andrew. It would be nice to be able to shift the dates back for the new cycle - but this seems to mean that we can't?

[2019-07-24 23:02] aekiss commented on #22
There would certainly be a way, but would require careful setup along the lines of the 2nd method in
https://github.com/COSIMA/access-om2/wiki/Tutorials#starting-a-new-experiment-using-restarts-from-a-previous-experiment

[2019-07-24 23:02] mauricehuguenin commented on #22
Thanks, I also have a run now which worked until 2200-10-27. I am now looking into the floating invalid message I get.

[2019-08-11 23:45] mauricehuguenin commented on #22
A quick update as we are still getting 'out of sync' errors:

We are trying to run a 1-year simulation with [383b27d](https://github.com/COSIMA/025deg_jra55_iaf/tree/383b27b4a76f7792a8510d92f3936a1d8e534f81) by using the restart 120 folder in `/g/data/hh5/tmp/cosima/access-om2-025/025_deg_jra55v13_iaf_gmredi6`. Except for changing the short path and project in `config.yaml`, we did no other change

[2019-08-12 02:00] rmholmes commented on #22
It is strange that you can get past the floating invalid with one option but not the other...

To address the time syncing problem, I have just tried to get a run going with correct dates by following exactly Andrew's 2nd method in
https://github.com/COSIMA/access-om2/wiki/Tutorials#starting-a-new-experiment-using-restarts-from-a-previous-experiment, using `restart120/` in `/home/561/rmh561/access

[2019-08-12 02:07] russfiedler commented on #22
Is there an `OMIP` protocol for this sort of thing? i.e. when you perform 5/6 IAF cycles do you start each cycle at the proper starting date or do you continue the time series even though it gets out of whack?

If the former then we really need a standard way to restart a cycle cleanly.

[2019-08-12 02:16] russfiedler commented on #22
@rmholmes  MOM/FMS will always fail at some point if you start runs after the 28th of the month and have an increment of 'months' You have to start your runs on `01-MM-YYYY 00:00:00`

[2019-08-12 02:21] rmholmes commented on #22
Yes I figured. I tried intervals of years, months or seconds. It failed in every case. Our restart is dated 12-31 so the only option seems to be to fake it somehow.

[2019-08-12 02:57] russfiedler commented on #22
I think the best solution would be to modify the global attributes in the ice restart file to reflect the date that you wish to start from. I would rename the original attributes and store them in the modified file so that everything is tracked correctly.

[2019-08-12 03:24] rmholmes commented on #22
So if I "fake it", by changing in `accessom2_restart.nml`:
[code]
(similarly for the date in the ocean file `ocean_solo.res`), then I can run a month but it fails in the `deint` stage at the end of the run with:
[code]
Why the two years? I only shifted the dates by 1 day and I'm using `use_restart_time = .false.` in `cice_in.nml`. The ice end date is clearly wrong.

Thanks @russfiedler . So do I n

[2019-08-12 04:04] aidanheerdegen commented on #22
Here is the code I mentioned in the MOM meeting that I wrote for Rishav, so he could edit his CICE restart files and change the dates

https://gist.github.com/aidanheerdegen/203af6f6e0a87d1d82704eae9608f099

There is some description in the comments on how to use it.

Is that useful?

[2019-08-12 04:35] rmholmes commented on #22
Thanks @aidanheerdegen, that looks like what I need, although it fails with:
[code]

I've overwritten the istep1, time and nyr attributes using matlab for the restarts, back to the 1960-01-01 values that are in `/g/data/hh5/tmp/cosima/access-om2-025/025deg_jra55v13_iaf_gmredi6/restart000/ice/iced.1960-01-01-00000.nc`. Hopefully that does the trick.

[2019-08-12 04:49] aidanheerdegen commented on #22
Oh right, these are netCDF files so ignore me. The thing I wrote was for the binary CICE restart files. So as you have done edit the global attributes:
[code]
and you're laughing

[2019-08-12 05:18] rmholmes commented on #22
Ok I can get around the syncing problems and use proper dates (starting from 1960) if i change the ice restart netcdf file attributes as above and use `use_restart_time=.true.` in `ice/cice_in.nml`. If `use_restart_time=.false` then the ice model seems to get the wrong date (defaults to the first date of the forcing?) and so the syncing error is thrown. @aekiss I think you need to change your tuto

[2019-08-12 06:19] aekiss commented on #22
Hi @rmholmes, @aidanheerdegen glad you found a recipe that works, apologies if the tutorial was less than helpful. I've added a quick note to the tutorial linking to this discussion, but if you have a clearer way to present a reliable method let me know.

Tutorial step 10 (`use_restart_time = .false.`) should mean that istep1, time, time_forc, etc in the restart file are ignored, and namelist valu

[2019-08-12 06:32] mauricehuguenin commented on #22
Thanks all for helping! I am now going through the year with 1-month simulations by using Ryan's modified restart files.

[2019-08-13 04:40] rmholmes commented on #22
Hi @aekiss the problem is that with `use_restart_time=.false.` it seems to get the wrong time. I presume by "namelist values" you mean it should be taking them from `accessom2_restart.nml`? It doesn't seem to be doing that as it picks up 1958 instead of 1960.

I had a quick look through the cice5 code but couldn't figure it out.

[2019-08-13 06:16] aekiss commented on #22
Hmm, interesting. `accessom2_restart.nml` is read by libaccessom2, not cice:
https://github.com/COSIMA/libaccessom2/blob/78b6a45188be0b603e4df63c53df4311058e5524/libcouple/src/accessom2.F90#L179
I presume the start time is supposed to be passed on to cice, to be used whenever `use_restart_time=.false.`, but for some reason this isn't working.

@nichannah can you shed any light on this?

[2019-08-14 11:11] aekiss commented on #22
`grep -v set_date_c /short/public/mv7494/access-om2.1102487.r-man2.err | uniq | less` shows the error is
[code]
This looks like the same error as in your email on 5 July (it's the same line of the same source file).

I don't know what version of MOM you are using (what is the first hash in the ocean (fms) exe name in config.yaml?) but if it's f8967b1 that line is
https://github.com/mom-ocean/MOM5/

[2019-08-14 13:14] nichannah commented on #22
Apologies for not joining this conversation sooner, I've updated my notification settings.

Firstly I tried to reproduce this problem using the information given above and @aekiss instructions under "Simple case: no date change" (See https://github.com/COSIMA/access-om2/wiki/Tutorials#starting-a-new-experiment-using-restarts-from-a-previous-experiment).  I came across two instances of what appears

[2019-08-14 14:19] nichannah commented on #22
I also tried using the "More complicated cases" instructions to restart at 1960-01-01. These instructions look OK but I ran into the same problem as @rmholmes mentioned yesterday with the CICE starting on 1958 when it should be on 1960.

It looks like CICE is pulling out the forcing date from libaccessom2 rather than the experiment/model date. It is possible that `use_restart_time = .false.` has o

[2019-08-15 06:40] mauricehuguenin commented on #22
The executables I used thus far are from June:
[code]

I now switched to the latest versions from August in `/short/public/access-om2/bin/`, these being:
[code]

[2019-08-16 07:53] mauricehuguenin commented on #22
With the latest executables, namely:
[code]

I can successfully run a full year starting with WOA initial conditions. I have a small issue with collating the archive files but I think this is a minor issue from my side.

Running a simulation with the same executables and Ryan's modified restart from https://github.com/COSIMA/libaccessom2/issues/22#issuecomment-520296853 I unfortunately still get t

[2019-08-18 10:52] aekiss opened #24 "build_on_raijin.sh fails: can't find NetCDF"
Here's what happens when I try to compile:
[code]

[2019-08-18 11:12] aekiss commented on #24
ping @nichannah - any suggestions?

[2019-08-19 00:10] aekiss commented on #24
for some reason cmake isn't picking up netcdf/4.3.2 despite having `module load netcdf/4.3.2` in `build_on_raijin.sh`.

But if I revert https://github.com/COSIMA/libaccessom2/commit/020b141740e6e0f607577c0ccb414777d8c6a99e and use netcdf/4.4.1.1 instead, it compiles fine and the exe appears to be properly linked:
[code]

Is something broken with the netcdf/4.3.2 library installation on raijin?

[2019-08-19 01:42] aekiss opened #25 "support input4MIPS input files"
See https://github.com/COSIMA/access-om2/issues/120 and https://github.com/COSIMA/access-om2/issues/155.
I suspect we can cover all cases by having an additional key to represent year+1.

[2019-08-21 01:49] aekiss commented on #22
@mauricehuguenin, @rmholmes - Now that https://github.com/COSIMA/access-om2/issues/159 has been resolved, can this issue be closed, or are there some remaining problems?

[2019-08-21 02:11] rmholmes commented on #22
The floating point has been fixed. I think @mauricehuguenin  still had some syncing problems with Nic's new code when `use_restart_time=.false.` in `cice_in.nml`? But we can get around them by explicitly setting the time in the ice restart .nc.

[2019-08-21 02:22] aekiss commented on #22
We would like to be able to do a restart by simply setting `use_restart_time=.false.` rather than hand-editing the restarts, so if there are issues with that it would be good to know the details.

[2019-08-22 12:31] nichannah commented on #24
This appears to be a system problem:

[code]

I have emailed help.

Perhaps we should move everything to 4.4.1.1?

[2019-08-22 21:17] aekiss commented on #24
Sure, if 4.4.1.1 works just as well as anything else.
@marshallward, @aidanheerdegen, @russfiedler - do you see any problems with netcdf 4.4.1.1?

[2019-08-22 23:16] marshallward commented on #24
I had an issue with the 4.4.1.1 install at some stage, but perhaps whatever it has been fixed.

Is there any reason to not use a 4.6 release?

[2019-08-23 00:24] aekiss commented on #24
good question.

Has anyone tried 4.6.1? (and what's the difference between netcdf/4.6.1 and netcdf/4.6.1p?)

There's also 4.6.3 and 4.7.0 but apparently not on NCI yet.

[2019-08-23 14:13] marshallward commented on #24
4.6.1p is using parallel netcdf (pHDF5, MPI-IO, etc), no need to use that one.

[2019-08-26 01:17] aekiss commented on #24
I gather from this that we should avoid using netcdf/4.4.* as it fails on floating point errors: http://cosima.org.au/index.php/2018/06/12/technical-working-group-meeting-june-2018/

[2019-08-27 00:27] aekiss commented on #24
Link to helpdesk discussion: https://track.nci.org.au/servicedesk/customer/portal/5/HELP-163255

[2019-08-27 01:26] benmenadue commented on #24
You can't rely on e.g. `nf-config` and similar on Raijin as we use a custom layout to support the multi-compiler and multi-MPI installations we use. This also means that testing for the existence of files will probably fail because they're actually in compiler-specific subdirectories.

Instead, we have compiler and linker wrappers that add include and library paths as needed based on what modules

[2019-08-27 03:14] aekiss commented on #24
Thanks @benmenadue, I think I understand now. I've just make a PR that fixes the issue.
@nichannah how does this look?

[2019-08-27 03:28] benmenadue commented on #24
@aekiss #27 looks like it should work, although it's Raijin-specific -- e.g. on your desktop machine you'll probably want to still use the FindNetCDF. Perhaps add a CMake flag that enables / disables using that logic so that you can specifically disable it on systems that use modules?
[code]
[code]

[2019-08-27 03:30] aekiss commented on #24
The compiler messages indicate that oasis is being compiled with `-I/apps/netcdf/4.2.1.1/include` but `yatm.exe` gets the right netcdf version
[code]

[2019-08-27 03:31] aekiss commented on #24
Thanks @benmenadue, that looks like a good idea

[2019-08-27 03:35] benmenadue commented on #24
@aekiss That will give you undefined behaviour -- the `-I` argument will make it use the headers and libraries from that version, overriding what you get via the module. Essentially, you're compiling against one version but linking against another.

[2019-08-27 03:55] aekiss commented on #25
We also need to combine solid and liquid runoff somehow - see discussion in https://github.com/COSIMA/access-om2/issues/155

The simplest thing would be to treat solid runoff as liquid, ignoring its latent heat, and add to liquid runoff. I guess it could be toggled by a `combine_runoff` boolean flag in the `runoff_nml` namelist in `atmosphere/atm.nml`. The `forcing.json` would have an additional e

[2019-08-27 05:32] aekiss commented on #24
Hmm, that doesn't sound at all good!
@nichannah can you see how to fix this?

[2019-08-27 05:43] benmenadue commented on #24
@aekiss I'm not sure why you would be getting a reference to `4.2.1.1`; I can't find that version string anywhere in this repo. My guess is you've got some left-over CMake cache or an unclean environment.

[2019-08-27 06:12] aekiss commented on #24
thanks @benmenadue but I still get `-I/apps/netcdf/4.2.1.1/include` with a clean clone.
The issue is in https://github.com/COSIMA/oasis3-mct which is cloned as part of the cmake build.
But that source also has no mention of `4.2.1.1`.

[2019-08-27 06:30] aekiss commented on #25
Another approach would be to have an additional key-value pair for the solid runoff file in the runoff dictionary in `forcing.json`, like [what was done for scaling](https://github.com/COSIMA/libaccessom2/compare/1d2133dbda30673f85393eccc59865b28c0c8138..b77aecd25b9104fa9d0e3435dcf13779be54a2a2).

If implemented for all fields, this could also be used for additive perturbation experiments, instead

[2019-08-27 06:42] aekiss commented on #24
and my `LD_LIBRARY_PATH` is empty

[2019-08-27 06:46] benmenadue commented on #24
@aekiss That's odd... I just tried it and it looks fine to me, for example
[code]
(the `-I` is coming from oasis3-mct's `configure`, but is correct and so harmless). This is from doing this:
[code]
(and I had no modules loaded before this).

Do you have any module load commands in your shell initialisation files?

[2019-08-27 07:06] aekiss commented on #24
my `.profile` loads these:
[code]

[code]

[2019-08-27 07:16] benmenadue commented on #24
It may be unrelated, but that `conda` module pollutes your environment really badly. It replaces all the of the system tools with its own, e.g.:
[code]
and made changes to the global compiler and linker flags:
[code]
This is one of the reasons we strongly recommend *not* using conda-like packaging systems.

Try with all of those `module load` and `module use` commands commented out so that you get

[2019-08-27 07:20] benmenadue commented on #24
Ah -- you have this in your `.login` file:
[code]
which will pick up the default version of 4.2.1.1. Perhaps something in oasis3-mct is stepping through (t)csh and picking it up here?

[2019-08-27 12:35] aekiss commented on #24
Odd. I've commented out every module load that looks relevant in .login and .profile but still have `-I/apps/netcdf/4.2.1.1/include`.
`build_on_raijin.sh` also includes a `module purge` so won't that deal with this issue?

[2019-08-28 01:04] benmenadue commented on #24
It should, unless it's being picked up again by another script running. Do you mind if I try it as you to see if I can find where it's coming from?

[2019-08-28 01:09] aekiss commented on #24
be my guest - thanks!

[2019-08-28 07:14] aekiss commented on #24
do you need me to do anything or are you already able to log in as me?

[2019-08-28 07:16] benmenadue commented on #24
Sorry, didn't get a chance to look at this this afternoon, but I can `sudo` to you and test it out.

[2019-08-28 07:19] aekiss commented on #24
ok thanks :-)

[2019-08-29 01:16] aekiss commented on #25
I'm ~prettymuch~ *no longer* sold on the idea of implementing this via a new `offset_filename` key, so that we can have both additive and multiplicative perturbations (as well as JRA55-do 1.4.0 support), which would be a useful extension to our current scaling-only perturbation capability [discussed in the wiki](https://github.com/COSIMA/access-om2/wiki/Tutorials#Scaling-the-forcing-fields).
We'd

[2019-08-29 23:50] aekiss opened #28 "file existence check doesn't work?"
Hi @nichannah I'm not sure this assert does what is intended: https://github.com/COSIMA/libaccessom2/blob/b77aecd25b9104fa9d0e3435dcf13779be54a2a2/atm/src/forcing.F90#L140
[filename_for_year](https://github.com/COSIMA/libaccessom2/blob/b77aecd25b9104fa9d0e3435dcf13779be54a2a2/atm/src/forcing.F90#L146) doesn't check for file existence and won't return an empty string, so I think this assert does no

[2019-09-02 07:37] aekiss commented on #24
from https://opus.nci.org.au/display/Help/Gadi%3A+NCI%27s+New+Supercomputer
"Only the latest versions of third-party software packages will be built and installed on the new HPC system."
so I guess we should get NCI to install [netcdf 4.7.0](https://www.unidata.ucar.edu/blogs/news/entry/netcdf-4-7-0) and build with that?

[2019-09-09 02:54] aekiss commented on #25
I'm now thinking it would be better to separate the additive-perturbation functionality from JRA55-do 1.4.0 support, i.e. use a `combine_runoff` boolean flag in the `runoff_nml` namelist in `atmosphere/atm.nml` as [originally proposed](https://github.com/COSIMA/libaccessom2/issues/25#issuecomment-525126092), and also have `offset_filename` and `offset_fieldname` for all fields. This way we can hav

[2019-09-11 05:33] aekiss commented on #24
I still have this issue, despite taking out every potentially relevant module load from my .login, .profile, .rashrc and .bashrc.

When I do
[code]
the compiler messages include ` -I/apps/netcdf/4.2.1.1/include` despite `netcdf/4.3.2` being specified in `build_on_raijin.sh`.

This differs from what I get with `ldd build/bin/yatm.exe | grep netcdf`:
[code]

@benmenadue if you have a spare moment to

[2019-09-11 05:43] benmenadue commented on #24
@aekiss `oasis3-mct-prefix/src/oasis3-mct/util/make_dir/config.nci` has an un-versioned `module load netcdf` that will be picking up the default version.
[code]
This might be the source of that. But if so, I'm not sure why it wasn't happening for me as well.

[2019-09-11 05:54] aekiss commented on #24
thanks @benmenadue, well spotted! When I do `module load netcdf` I get `netcdf/4.2.1.1`, so that is probably the culprit.

[2019-09-11 06:25] aekiss commented on #24
Yep, I can confirm that this fixes it. Thanks again @benmenadue

[2019-09-11 21:52] aekiss opened #29 "use submodules for included libraries (oasis, json-fortran, datetime-fortran)?"
I'm wondering why we don't incorporate these into the libaccessom2 repo as submodules?
https://github.com/COSIMA/oasis3-mct
https://github.com/jacobwilliams/json-fortran
https://github.com/nicjhan/datetime-fortran

At present these are git cloned by cmake (see `ExternalProject_Add` entries in [CMakeLists.txt](https://github.com/COSIMA/libaccessom2/blob/master/CMakeLists.txt#L58)) which seems unnec

[2019-09-15 23:51] aekiss opened #30 "support additive forcing perturbations"
Branching off from https://github.com/COSIMA/libaccessom2/issues/25 as a separate issue.

Implement this via a new `offset_filename` key, so that we can have both additive and multiplicative perturbations to any forcing field, which would be a useful extension to our current scaling-only perturbation capability [discussed in the wiki](https://github.com/COSIMA/access-om2/wiki/Tutorials#Scaling-the

[2019-09-15 23:51] aekiss commented on #25
Additive forcing perturbation is now a separate issue: https://github.com/COSIMA/libaccessom2/issues/30

[2019-09-16 00:00] aekiss opened #31 "support time-invariant forcing perturbations"
It would be useful to have support time-invariant [additive](https://github.com/COSIMA/libaccessom2/issues/30) or [multiplicative](https://github.com/COSIMA/access-om2/wiki/Tutorials#Scaling-the-forcing-fields) perturbations, so we don't necessarily need to specify the perturbation at every forcing timestep. This would be particularly handy for the IAF runs.

This could be implemented by applying

[2019-09-20 06:45] aekiss commented on #24
reopening - also need to deal with PR https://github.com/COSIMA/libaccessom2/pull/27 which should probably be made more portable as per Ben's suggestion https://github.com/COSIMA/libaccessom2/issues/24#issuecomment-525121270

[2019-09-23 01:30] nichannah commented on #24
I have merged https://github.com/COSIMA/libaccessom2/pull/32 which includes Ben's suggestion.

[2019-09-23 01:30] #24 closed, assigned to nobody

[2019-09-23 01:36] nichannah commented on #22
Please feel free to re-open if there are still problems with this.

[2019-10-15 22:23] aekiss commented on #20
oops, it seems I made a duplicate issue https://github.com/COSIMA/libaccessom2/issues/25 - can we move discussion there?

[2019-10-15 22:30] aekiss commented on #25
See PR  for implementation of `year+1` https://github.com/COSIMA/libaccessom2/pull/26

Remaining issues:
- ~input4MIPS files use lon and lat variables and dimensions, which are not supported by libaccessom2 currently https://github.com/COSIMA/libaccessom2/issues/20#issuecomment-482455092~ *was done in pull https://github.com/COSIMA/libaccessom2/pull/21*
- ~combine runoff to support JRA55-do 1.4.0

[2019-10-15 23:41] aekiss commented on #25
re. first point above, Is there any reason not to do a case-insensitive checks for dimension names here? That would cover the first point above and also make it handle other other any changes to dim name capitalisation which may arise in future.
https://github.com/COSIMA/libaccessom2/blob/5ec57165fb132cc28ecba5344701a1bc3cbac10d/libcouple/src/util.F90#L128-L137

[2019-12-01 23:58] aidanheerdegen opened #33 "Build test failing due to missing data file"
Build test is failing due to missing `test_data` file:

https://accessdev.nci.org.au/jenkins/job/ACCESS-OM2/job/libaccessom2/lastBuild/console

[code]

Seems this data is copied over in this script:

https://github.com/COSIMA/libaccessom2/blob/master/tests/copy_test_data_from_raijin.sh

But that file doesn't exist in the directory data is copied from

[code]

@nichannah Looks like the last time th

[2019-12-04 05:10] aekiss commented on #25
@nichannah any objections if I use case-insensitive checks? See previous post.

[2019-12-10 03:20] aekiss commented on #20
discussion moved to https://github.com/COSIMA/libaccessom2/issues/25

[2019-12-10 03:20] #20 closed, assigned to nichannah

[2019-12-10 03:20] aekiss commented on #25
also see discussion in https://github.com/COSIMA/libaccessom2/issues/20

[2019-12-10 03:38] aekiss commented on #33
This failing test was added in commit 36ebce245f97e7ff05835c640588903173f4aa27
I guess we could just replace it with a test that works?

[2019-12-16 01:58] penguian opened #34 "Use reproducibility flags for Gadi"
Document the reproducibility flags that were used in testing https://github.com/penguian/1deg_jra55_ryf migration from NCI Raijin to Gadi.

Using these flags with the Intel 2019.3.199 compilers produced identical output on Raijin and Gadi. See "repro group 4" in [the report summary](https://docs.google.com/document/d/1iFIH_kHkoDJjw4WHOfTqC0ylBRtR4g9O-jX3WSUYn9A/edit?usp=sharing) for results.

[2019-12-19 05:27] aidanheerdegen commented on #22
With this config:

https://github.com/COSIMA/1deg_jra55_iaf.git

If I run for 1 year, and then restart but run for 3 months I get this error:

[code]
Ran at this location:
[code]

This suggests this is not a solved problem.

[2019-12-19 05:33] aekiss commented on #22
sounds like we should revisit this fix:
https://github.com/COSIMA/cice5/pull/39
https://github.com/COSIMA/cice5/issues/38

[2019-12-19 06:12] aidanheerdegen commented on #22
ping @nichannah

[2019-12-19 11:42] nichannah commented on #22
Thanks @aidanheerdegen, will take a look.

[2020-01-05 23:58] nichannah commented on #25
@aekiss no problem, I probably just didn't think of it.

[2020-01-09 23:13] nichannah opened #36 "Tests working on gadi"
Do https://github.com/COSIMA/access-om2/issues/182 for libaccessom2 tests

[2020-01-10 03:19] nichannah commented on #29
I think that the cmake approach is simpler than the git submodule approach (e.g. being able to see the repo url and hash without git commands).

However since we already use submodules it is introducing more complexity and more stuff to know.

So I think we do this issue and then if we decide we don't like git submodules later then switch everything over to the cmake approach. i.e. just have one a

[2020-01-10 04:26] aekiss commented on #29
OK, sounds good

[2020-01-10 04:39] nichannah commented on #29
This has been merged into libaccessom2/dev branch

[2020-01-15 06:19] aekiss commented on #29
just noting here that this is commit https://github.com/COSIMA/libaccessom2/commit/794284b1dd093d24af8095e995809b356d7455f3
(the commit message had the wrong issue number)

[2020-01-15 20:14] aekiss commented on #29
@nichannah this commit will change to a much newer version of [json-fortran](https://github.com/jacobwilliams/json-fortran/commits/master). That might be a good thing, or it might break things. If the latter, we should check out the specific commit we want.
https://github.com/COSIMA/libaccessom2/commit/794284b1dd093d24af8095e995809b356d7455f3#diff-8903239df476d7401cf9e76af0252622

[2020-01-15 20:15] aekiss commented on #29
Perhaps we could use our own fork of `json-fortran` (as you've done with `oasis3-mct` and `datetime-fortran`) rather than referring directly to the originals? This doesn't really help with the version issue, but at least means we have a copy of the repo in case it is removed.

[2020-01-15 20:23] aekiss commented on #29
It would be better to use https://github.com/COSIMA/datetime-fortran rather than https://github.com/nicjhan/datetime-fortran so more of us have edit access.

There have been a few minor-looking updates to https://github.com/wavebitscientific/datetime-fortran/commits/master - might be worth updating our fork?

[2020-01-16 19:18] aekiss opened #37 "Gregorian calendar hard-coded in datetime-fortran"
I just noticed that the Gregorian definition of leap years is hard-coded in datetime-fortran:
https://github.com/wavebitscientific/datetime-fortran/blob/master/src/lib/mod_datetime.f90#L1053

I guess this would prohibit the use of different calendars (e.g. noleap) - could this cause any problems, e.g. with RYF?

Note that this also means a proleptic Gregorian calendar is applied prior to the year

[2020-01-16 22:16] aidanheerdegen commented on #37
That library doesn't seem to support any calendar type but iso variant of gregorian

https://github.com/wavebitscientific/datetime-fortran/blob/335cf9a495ba7df43e14c6a793523fd180b1b345/README.md#isocalendar

Darn.

[2020-01-19 22:07] nichannah commented on #37
I think that this library is intended to have similar functionality to the Python module of the same name. I think it is difficult to find date handling libraries that support different calendar types.

libaccessom2 does a workaround to support noleap.

[2020-01-19 22:08] nichannah commented on #29
OK, good suggestions.

[2020-01-20 01:29] nichannah opened #38 "Unclean MPI termination leading to crash"
The JRA55_IAF test case in libaccessom2 is crashing on termination on the new machine (Gadi) with new openmpi libraries.

The error message (pasted below) makes it look like not all MPI resources are being cleaned up properly. Given that this is a very self-contained test case hopefully it's possible to find the problem from code review.

579482456.666229] [gadi-cpu-clx-0455:61857:0]          mpoo

[2020-01-20 02:56] nichannah commented on #38
The crash does not happen when I disable all oasis puts/gets. There are still warnings related to unreturned memory.

[2020-01-24 00:19] nichannah commented on #38
This was a problem with the test code which had unbalanced oasis put/get calls. This was not a problem with older versions of openmpi but caused a crash on the newer version (4.0.1). The changes have been merged into 29-use-submodules branch.

[2020-01-24 00:19] #38 closed, assigned to nobody

[2020-01-24 00:53] nichannah commented on #29
This has been merged into dev

[2020-01-24 00:53] #29 closed, assigned to nichannah

[2020-02-05 04:03] aekiss commented on #36
@nichannah I get a segfault running tests with a9e2883

[code]
yields
[code]

[2020-02-05 04:25] russfiedler commented on #36
This is the sort of message that I was getting in my ports of CM4 etc. My guess is that a temp array is being created for `aV%iAttr(iIndex(n),:)`. Try setting `-heap-arrays` or `heap-arrays 10` when compiling to put temp on the heap rather than the stack.

[2020-02-05 04:49] aekiss commented on #36
Thanks - I just tried `-heap-arrays 10` but got the same error

[2020-02-05 04:53] russfiedler commented on #36
Try just `-heap-arrays` to put them all on the heap.

[2020-02-05 05:40] aekiss commented on #36
I just tried `-heap-arrays` - still no luck

[2020-02-05 07:31] russfiedler commented on #36
Seems to be working fine for me on express queue without having to invoke `-heap-arrays`.

Hang on it's just crashed at the end in the ocean stub with a heap of warnings like

`1580886787.462249] [gadi-cpu-clx-2901:94688:0]          mpool.c:38   UCX  WARN  object 0x8433000 was not returned to mpool ucp_am_bufs
[1580886787.462270] [gadi-cpu-clx-2901:94688:0]          mpool.c:38   UCX  WARN  object

[2020-02-05 22:51] aekiss commented on #36
interesting. do you think that's a related problem or something else?

[2020-04-05 22:00] aekiss opened #40 "Update json-fortran?"
https://github.com/jacobwilliams/json-fortran has had quite a few commits recently, and is now at release 8.0.0 - do we want to upgrade the version we use?

[2020-04-15 03:09] aekiss commented on #40
I upgraded to 8.0.0 in commit 4942b6a67ac2dc76ab116cac26fbd53a26642a1a

[2020-04-15 23:44] nichannah commented on #22
Fixed. Was a bug when exp date was leap day and forcing was not we repeat forcing for the whole day ... it was not skipping the 'out of sync' check properly during this day.

[2020-04-15 23:44] #22 closed, assigned to nichannah

[2020-05-29 00:06] aidanheerdegen opened #45 "Fix deployment on travis"
I added travis compilation testing but the deployment stuff is broken.

The deployment is required to get ACCESS-OM compilation testing working correctly (https://github.com/mom-ocean/MOM5/issues/242).

[2020-06-03 03:09] aidanheerdegen commented on #45
Release needs mod files as well. Need to be included in tar ball

[2020-06-03 05:21] #45 closed, assigned to nobody

[2020-06-09 00:41] aekiss opened #48 "accessom2_restart.nml not being written to restart dir"
The latest libaccessom2 (d7c3c2835017) writes `accessom2_restart.nml` to `outputnnn` but not to `restartnnn`, causing an abort with `Error in accessom2_deinit: atm and ice models are out of sync.` at the end of the subsequent run.
(Also, `accessom2_restart.nml` is written to `outputnnn` as a regular file, rather than a symlink to `restartnnn-1/accessom2_restart.nml`).

4198e150 worked fine, so the

[2020-06-09 00:44] aekiss commented on #48
@aidanheerdegen was there a reason for this change?

[2020-06-09 00:49] aidanheerdegen commented on #48
I changed it because
[code]
is not standard fortran, so would not compile correctly with `gfortran` in the CI. I thought I had checked the functionality was the same, but clearly not. Thanks for finding it. I'll take another look and see if there is a compatible code change.

[2020-06-09 01:01] aekiss opened #49 "Early abort if models are out of sync"
It would be good to check model sync at both the start and end of runs.

Currently the `models are out of sync` check and abort is done at the end of runs, but sometimes (e.g. https://github.com/COSIMA/libaccessom2/issues/48) they are out of sync from the start. In such cases it would save a lot of walltime and SU to check model sync at the start of runs and abort early.

[2020-06-09 01:22] aekiss commented on #48
I've confirmed that reverting this line fixes the problem, so I'll merge the PR for https://github.com/COSIMA/libaccessom2/commit/d99f9c05144d06a7ca7d2d66d49cb4ebe1b62ebe

[2020-06-09 01:26] aidanheerdegen commented on #48
Reverting the change breaks the `gfortran` CI tests. I'll work up a solution and make another PR

https://travis-ci.org/github/COSIMA/libaccessom2/jobs/696282759#L4114

[2020-06-09 03:15] #48 closed, assigned to nobody

[2020-06-10 06:53] aidanheerdegen commented on #36
The problem seems to be a missing remap weights file.
[code]
This file doesn't exist:
[code]
 It should really give a more informative error message than that.

I've tried a couple of other remap ping files, but they appear to be the wrong size.

Anyone know where that file is, or how the namcouple should be altered to be consistent with the weights files that are there?

[2020-06-10 08:11] russfiedler commented on #36
Isn't the problem that the `copy_test_data_from_gadi.sh` script is getting `rmp_jrar_to_cict_CONSERV.nc ` to the directory `test_data` but the `namcouple` file is referencing `rmp_jra55_cice_conserve.nc`? I can't see a link or renaming being done.

[2020-06-10 08:38] russfiedler commented on #36
Here? `/g/data/ik11/inputs/access-om2/input_08022019/common_1deg_jra55` These files map from a 640x320 grid to a 360x300 and have both the conserve and smooth versions as required by the namcouple file. They look like matches to the second order and patch files in ` /g/data/ik11/inputs/access-om2/input_rc/common_1deg_jra55`

[2020-06-10 10:04] aekiss commented on #36
would it be a good idea to use the latest set of inputs from here? Some of the weights files have been renamed though.
`/g/data/ik11/inputs/access-om2/input_20200530`

[2020-06-11 04:21] aidanheerdegen commented on #36
@russfiedler the file named `rmp_jrar_to_cict_CONSERV.nc` doesn't work either. I get this for all the remap files I have tried:
[code]
I assume this is, as it says, a mismatch and that this remap file is incompatible with the `namcouple`

[2020-06-11 04:24] aidanheerdegen commented on #36
Tried `/g/data/ik11/inputs/access-om2/input_08022019/common_1deg_jra55/common_1deg_jra55/rmp_jra55_cice_conserve.nc`. Also doesn't work. Same error as above.

[2020-06-11 04:38] russfiedler commented on #36
Lysdexia rules! Try `/g/data/ik11/inputs/access-om2/input_08022019/common_1deg_jra55/rmp_jra55_cice_smooth.nc`. `common_1deg_jra55` is repeated above.

[2020-06-11 04:40] aidanheerdegen commented on #36
Same problem:
[code]
Different numbers though ... progress?

[2020-06-11 04:41] russfiedler commented on #36
Looks like it's back to front?

[2020-06-11 04:42] aidanheerdegen commented on #36
It does doesn't it. I removed all the (optional?) size stuff from `namcouple` as it wasn't used in the current configs, so thought it might be the issue.

[2020-06-11 04:44] aidanheerdegen commented on #36
~Oh, there aren't remapping weight files specified for some of the fields ... but there are for all the fields in the model versions.~

I was looking only at the atmosphere -> ice fields, which do require a remapping file.

[2020-06-11 05:36] aidanheerdegen commented on #36
I am getting the same error with the `JRA55_IAF` test.

I got `JRA55_IAF_SINGLE_FIELD` to run by copying the `i2o.nc` and `o2i.nc` files from `/g/data/ik11/inputs/access-om2/input_20200530`. So that is a plus eh. If one works should be able to get the others going ...

[2020-06-11 05:45] aekiss commented on #36
If you're using `input_20200530` you might need to use Nic's new `namcouple` in the `ak-dev` config branches - these are identical across the 6 configs

[2020-06-16 00:54] aidanheerdegen commented on #36
Well I don't know if I changed something or just got it wrong, but even `JRA55_IAF_SINGLE_FIELD` isn't working, complaining about the grid size mismatch.

@nichannah I am working here:
[code]
Can you take a look and see if you can see the issue? I was about to dive into a debugger, but thought if you could see the problem easily then it would be a more productive approach.

[2020-06-20 11:01] nichannah commented on #36
I have fixed some of the tests. There were a few problems but the main one was that they did not use the new forcing.json field which I introduced to support JRA55 v1p4.

The FORCING_SCALING and JRA55_v1p4_IAF tests are still not working due to missing/wrong input files. I'll fix those.

[2020-07-08 01:31] nichannah commented on #36
I have merged a branch into master that fixes all the tests. However I have not set things up to run on Jenkins yet so keeping this issue open until we do that.

[2020-07-08 01:35] aidanheerdegen commented on #36
Awesome! I can do the Jenkins stuff if you don't have time, but am busy right now. Let me know if you do start working on it so we don't duplicate.

[2020-08-12 08:10] russfiedler commented on #31
@aekiss  @nichannah   I've made a start on this. First step is just to apply a constant scaling. I've got this in `/scratch/v45/raf599/libaccessom2` . Just looks like a couple of changes to `libcouple/src/field.F90` and `atm/src/forcing.F90`. Could you have a quick look to see if it's the sort of change that looks interesting and if I'm going about it the right way.

[2020-08-14 10:50] aekiss commented on #31
thanks @russfiedler that looks good to me, I only had a few minor comments

[2020-09-28 04:27] russfiedler opened #57 "Unitinitialised namelist variables accessom2.F90"
There are 3 uninitialised namelist variables here:

https://github.com/COSIMA/libaccessom2/blob/master/libcouple/src/accessom2.F90#L116-L118

Obviously, the time step will always be set but what is the appropriate default level of logging and timing?

[2020-11-02 05:57] aidanheerdegen opened #59 "Forcing with daily coupled model output"
Rishav is trying to force ACCESS-OM2 with daily output from the ACCESS-CM2 coupled model. At first he tried monthly but it gave this unhelpful error
[code]
which suggests an error in the time steps, but this is a red herring.

He switched to daily forcing and it worked, but crashes at the end of the year with this error
[code]
which is eerily similar to an error encountered in the tests

https://g

[2020-11-02 06:19] russfiedler commented on #59
That mismatch error often arises to a problem with the the river runoff remapping file. It gets read through `atm_nml` rather than the `namcouple` file. Check that it's pointing to the right file. I thought this would have been a problem at the start though.

Edit: Umm, that traceback is definitely from the start of the run. Why do you think it's from the end of the year?

[2020-11-02 22:59] aidanheerdegen commented on #59
Rishav has resubmitted and AFAICT it has crashed at a different location, i.e. the start. Now I am confused, and can't locate the previous crash log.

Thanks for the feedback @russfiedler I'll follow up with the new info.

[2020-11-04 04:24] aidanheerdegen commented on #59
This issue was due to an incorrect time dimension in one of the forcing files. Closing.

[2020-11-04 04:24] #59 closed, assigned to nobody

[2021-02-24 04:03] rmholmes commented on #30
@aekiss @aidanheerdegen I am resurrecting this issue as there are a few experiments that various people would like to run that would be made significantly easier with such an addition.

As an example, Qian is going to be running an experiment with a linearly increasing air temperature modelled on CMIP6 projections, added to the RYF9091 JRA55 forcing. I.e. she would like:

Tair(x,y,z,t) = TairRYF(x

[2021-02-25 01:55] AndyHoggANU commented on #30
Hi @rmholmes  - sorry we didn't get a chance to discuss this in today's MOM meeting. I think option 2 is a nice idea, as it's more flexible and more able to be deployed for a wider array of uses. I guess the key issue is whether payu can get enough information out of the run to supply the script making the forcing files. If the information required was only time (i.e. other functions of x,y were h

[2021-02-25 03:13] rmholmes commented on #30
I think a zoom chat about this would be a good idea, perhaps after @aidanheerdegen has had a chance to think about what might be possible.

One more potential spannar in the works here that is worth considering: After chatting with Qian and Matt yesterday I think Qian's experiment would also benefit from maintaining the atmospheric relative humidity constant as the air temperature anomalies are ap

[2021-03-01 00:53] aidanheerdegen commented on #30
@nichannah has assigned himself to this, so I wouldn't suggest spending any time on this until he can let us know the progress on this. He might already have a solution, or perhaps some well thought through plans for implementation.

Nic?

[2021-03-01 00:55] AndyHoggANU commented on #30
I think Nic assigned himself this 18 months ago, then completed the work and the issue was closed -- Ryan then reopened it with his new ideas... But I am of course happy if Nic wants to take this one on?

[2021-03-01 01:09] aidanheerdegen commented on #30
Oh right, my misunderstanding. Soz.

There are no tagged PRs or commits which would make it easier to track related changes to see what has already been done and how new functionality might be incorporated.

[2021-03-01 01:21] nichannah commented on #30
Yes, I'm happy to do it at the libaccessom2 level if that is easier that via Payu. Presently we have the ability to do scaling by either a file with a time dimension or a single constant. In the simplest case we could replicate this but use addition instead of multiplication - using a syntax like @aekiss proposed above. Would that be suitable? On the other hand it might be worth thinking about som

[2021-03-01 05:12] rmholmes commented on #30
Thanks @nichannah.

So just to confirm - when you say "scaling by either a file with a time dimension or a single constant" - I think you mean that the scaling file (currently multiplicative - but easy to implement additive) is a single file that contains both spatial and temporal information?

Is it possible to separate the spatial and temporal scaling information? This would really help with app

[2021-03-04 05:15] russfiedler commented on #30
I've had a bit more of a think about using relative humidity as a forcing field. Since this is about physics I'm now of the opinion that it should be treated in CICE and can be easily done in the subroutine`from_atm`. We can flag if `rhair_i` (or whatever we call it in CICE) is supplied and then after all the fields are read

  if(do_rh2q) then
      where(tair0 /= 0.0) qair0 = rh2q(tair0,rhair0,p

[2021-03-04 05:48] rmholmes commented on #30
That sounds pretty good to me @russfiedler. However, I can't say that I know much about CICE.

We would then just need to create new RYF input files that contained relative humidity (rhair0) rather than specific humidity, do the substitutions in `atmosphere/forcing.json` that I indicated above and activate this flag so that CICE knows to take rhair0 as an input rather than qair0 as an input.

I wo

[2021-03-04 06:31] russfiedler commented on #30
@rmholmes  We're using the gfdl form for fluxes so I'd use probably use the lookup tables for the saturated vapor pressure in `sat_vapor_pres_mod.F90`. We should have `q=0.622*(rh/100)*e_sat(T)/(p-0.378*(rh/100)*e_sat(T))` if `rh` is supplied as a percentage.

[2021-03-04 07:01] aekiss commented on #30
@rmholmes - Nic was referring to this: https://github.com/COSIMA/libaccessom2/issues/31 - ie support for spatially uniform and temporally constant scalings  specified by a `scale_constant` as an alternative to the spatiotemporally varying scalings specified by `scaling_filename` and described [here](https://github.com/COSIMA/access-om2/wiki/Tutorials#Scaling-the-forcing-fields).

@nichannah `fortr

[2021-03-04 07:04] aekiss commented on #30
Also, where time axes are present, the scalings/offsets would only be applied at times covered by those axes (which is how it works currently, allowing a brief perturbation to damp down an individual storm).

[2021-03-04 08:28] aekiss commented on #30
Further possible extensions (probably over the top):
1. support complex values in any perturbation field, allowing concise representation of propagating perturbations (only the real part of the product `scaling_filename * temporal_scaling_filename` or `offset_filename * temporal_offset_filename` would be used in `scaling(x,y,t)*f + offset(x,y,t)`)
2. allow any of the perturbations to be a list of

[2021-03-10 22:07] aekiss commented on #30
Following a discussion on Tuesday, here's an updated straw-man proposal replacing the above. It's long and detailed because I've tried to be explicit about the semantics and corner cases, which in most cases is simply spelling out what you'd expect. Apologies for the boring read!

It's unclear to me how much work would be needed to implement something like this, but if we decide to implement only

[2021-03-10 22:56] rmholmes commented on #30
Thanks @aekiss for the comprehensive plan. It looks good to me, and I like the proposed dictionary format for `forcing.json`.

One question on point 6 of semantics: What do you mean in the `"calendar": "experiment"` case by "the time axis typically has the same resolution as the model"? Does this mean for the calendar we have to define the time axis in the `.nc` file at every model time step? I wo

[2021-03-10 23:05] aekiss commented on #30
Good catch @rmholmes, that also occurred to me after posting. I agree it would be much better to have it on the forcing timestep in the `"calendar": "experiment"` case, otherwise it won't work if the model timestep is changed. The difficulty is that the model and forcing calendars can differ by an arbitrary number of years. I'll edit the post above to try to fix it.

[2021-03-10 23:20] aekiss commented on #30
ok how does that look now @rmholmes ?

[2021-03-11 02:49] rmholmes commented on #30
Thanks @aekiss - looks good.

Is there any chance that leap years/days will cause problems with `"calendar": "experiment"`? I.e., the time vector we use in the "temporal" `.nc` file may have to be defined for years/days that match the RYF year but actually don't exist in a real calendar? I suspect this is not an issue as things work fine now with the current experiment time. However, it's probably

[2021-03-11 22:13] aekiss commented on #30
Hmm, good question @rmholmes.

As I understand it, the forcing and experiment calendars ~can only differ in the year~ _no - see below_ (in fact I've assumed this in my description of the `"calendar": "experiment"` case), so if the forcing dataset has no leap years (as is the case with the standard RYF years), neither will the experiment calendar.
For example, despite being a leap year in a normal

[2021-03-11 22:40] mauricehuguenin commented on #30
@aekiss  Our repeat decade forcing (RDF) is 1962-1971. Both 1964 and 1968 are leap years.
We only output monthly and annual data, so I do not know if the experiment calendar in our RDF is running with a leap year calendar as it should. Is there a way to check that?

[2021-03-11 22:45] rmholmes commented on #30
Thanks @mauricehuguenin. I suspect the RDF experiment time is like the RYF one - the leap years appear when they appear in the forcing (1964 and 1968), regardless of the experiment year. When you run the IAF off the end I think you do it like an ensemble OMIP experiment with a fresh restart.

[2021-03-11 22:50] mauricehuguenin commented on #30
Yes, that is what I do Ryan. I reset the experiment date back to 1972 when I branch off my IAF run over 1972-2017 from the control.

I just checked in `ocean_solo.res` and can confirm that our RDF experiment runs with a Gregorian calendar (that has leap years).

[2021-03-11 23:32] aekiss commented on #30
So does it look like this? If so, it's not a Gregorian calendar...

forcing 62 63 **64** 65 66 67 **68** 69 70 71 62 63 **64** 65 66 67 **68** 69 70 71
model 62 63 **64** 65 66 67 **68** 69 70 71 _72_ 73 _**74**_ 75 _76_ 77 _**78**_ 79 _80_ 81

**bold** are correct leap years
_**bold italic**_ are model leap years that should be non-leap years in the Gregorian calendar
_italic_ are model non-leap

[2021-03-11 23:53] mauricehuguenin commented on #30
How would I be able to check this? The `ocean_solo.res` file shows
`     3        (Calendar: no_calendar=0, thirty_day_months=1, julian=2, gregorian=3, noleap=4)`

[2021-03-12 00:08] aekiss commented on #30
`grep cur_.*_date output*/atmosphere/log/matmxx.pe00000.log | grep -- -02-29T00`
will show you all the forcing and model leap years

[2021-03-12 00:33] mauricehuguenin commented on #30
Thanks, unfortunately the `grep` command did not give me an output but the log files show this:
[code]
followed by
[code]
So the experiment calendar has correct leap years. During these days, the forcing for the 28th of February is applied twice.
Our spin-up is 2000 years so this should not be an issue.

[2021-03-12 00:56] aekiss commented on #30
Interesting. libaccessom2 aborts if there is a mismatch like that at the end of the run, but maybe it gets back into sync before then. How long are your runs?

[2021-03-12 01:08] mauricehuguenin commented on #30
I always ran for ten years during the 2000-year long spin-up with the 1° model and for two years in the 1/4° model. That worked fine. I am not sure if at some point we received warnings that we ignored. The model however never crashed with a `date out of sync error`.

[2021-03-12 02:27] aekiss commented on #30
OK so seems that in your case we actually have

forcing 62 63 **64** 65 66 67 **68** 69 70 71 62 63 **64** 65 66 67 **68** 69 70 71
model 62 63 **64** 65 66 67 **68** 69 70 71 **72** 73 74 75 **76** 77 78 79 **80** 81

so the experiment and forcing dates **can** differ by more than just the year, so @rmholmes' concern was valid and we may need some other approach.

@mauricehuguenin, what does it l

[2021-03-12 02:59] mauricehuguenin commented on #30
For the experiment year 1972 the following forcing is applied:
[code]

For the days surrounding the experiment date 1974-03-01, the log looks like this:
[code]
I understand it that the calendar is set by the experiment. For the first leap day in the experiment calendar, the first leap day forcing from the RDF is applied. If there is no leap day in the experiment calendar (but one in the forcing),

[2021-03-12 04:26] aekiss commented on #30
OK so if (for example) an increasing ramp perturbation
[code]
is applied, it will have a horizontal step
[code]
if there's a leap day in the experiment but not the forcing,
and will have a vertical jump
[code]
if there's a leap day in the forcing but not the experiment

[2021-03-15 01:10] russfiedler commented on #30
I've made a first cut at getting Relative humidity as a forcing into here https://github.com/russfiedler/cice5/tree/rel_humid
It compiles but I need it to be tested. @rmholmes ?

It's all done in CICE (auscom driver module). Just need to specify the input file and `relh_i` in the namcouple and `fields_from_atm` namelist in `input_ice.nml` rather than `qair_i`

[2021-03-16 23:28] nichannah commented on #30
Thanks for this @aekiss. It looks good to me. The only thing that jumps out is:

"scaling and offset are optional arrays of any length."

My concern is that having long arrays could quickly become very confusing for anyone other than the original author. It won't be clear what the actual forcing is.

Is this necessary, or can we leave it up to the user to make combined forcings if needed?

[2021-03-16 23:41] aekiss commented on #30
The trouble with making combined forcings is if the perturbation is a sum of spatial patterns multiplied by a scalar timeseries (e.g. an EOF reconstruction) you wouldn't be able to represent it efficiently.
I would not anticipate the arrays becoming very long in practice. If a hard-coded maximum is needed for implementation, I think 10 would be plenty as I wouldn't expect anyone to need more than

[2021-03-16 23:59] nichannah commented on #30
wrt. leap years it works like this:

The model (experiment) data and forcing date are only allowed to differ in the year. This is checked every time the date is progressed so an error or warning will be raised immediately if things go wrong. There is a namelist option to choose between a warning and an error. There are two exceptions:

1. the forcing date is a leap day (29/02) but the experiment i

[2021-03-17 00:36] aekiss commented on #30
ah ok, thanks for the clarification, that matches what we inferred above

[2021-03-22 08:27] aekiss commented on #30
I've added a `comment` keyword to the specification [above](https://github.com/COSIMA/libaccessom2/issues/30#issuecomment-796202987), as discussed at the last TWG meeting.
We didn't decide whether it should be mandatory.

[2021-05-19 00:30] rmholmes commented on #30
@nichannah I noticed you just closed this issue. Where are you up to with this? Asking because I've got a student who might want to start using this in the next month or two. Thanks!

[2021-05-19 01:23] nichannah commented on #30
Hi @rmholmes, the implementation for this is done.

Tutorial on how to use it: https://github.com/COSIMA/access-om2/wiki/Tutorials#Scaling-the-forcing-fields

[2021-05-19 01:24] nichannah commented on #30
Re-opening - should add further documentation to the libaccessom2 README.md. At the least to point to the tutorial referenced in previous comment.

[2021-05-19 01:27] rmholmes commented on #30
Great, thanks! I'll jump in and try testing it next week.

[2021-05-19 03:26] aekiss commented on #30
Great, thanks @nichannah - when the documentation is ready it would be good to announce this on Slack, as there are plenty of people who would be interested.

[2021-05-25 06:49] rmholmes commented on #30
Thanks for the work on this @nichannah. I've been testing it out a bit and seems to be working well - I can do constant perturbations, spatial perturbations, and experiment-calendar based smooth-time perturbations that span multiple RYF years (very useful!).

One question: As discussed in my comment [here](https://github.com/COSIMA/libaccessom2/issues/30#issuecomment-784737151), and Andrew's comme

[2021-05-25 12:27] nichannah commented on #30
Hi @rmholmes, OK I think I missed that in @aekiss comment above. I see it now. My syntax is a bit more rigid than the one he suggested so I'll need to figure out how to fit in or modify mine. One thing that comes to mind is to 'perturb' (or nest) the perturbations as below, however this seems over the top to support the single case you mention.

[code]

[2021-05-26 06:22] rmholmes commented on #30
Thanks @nichannah.

This probably requires a bit more of a detailed discussion and I am not sure exactly how the system works now. But one option would be, when there are multiple offsets, multiply them together rather than add them. Personally, I feel this would be more useful than being able to add multiple offsets (I can think of at least 3 current and former projects that would use this). But

[2021-05-26 06:59] aekiss commented on #30
The problem is that this implementation supports only [four cases](https://github.com/COSIMA/access-om2/wiki/Tutorials#Scaling-the-forcing-fields), but we need to support a fifth case (number 2 in [this list](https://github.com/COSIMA/libaccessom2/issues/30#issuecomment-796202987)), which is a "separable" offset that is the product of a scalar timeseries and a static spatial pattern (i.e. a combin

[2021-05-26 07:04] aekiss commented on #30
Also it would be nice to have an optional `"comment"` entry for each perturbation (see [above](https://github.com/COSIMA/libaccessom2/issues/30#issuecomment-796202987)).

Its value would be a string that would be ignored by the code but would allow the user to document what they're doing (this is needed because there's no support for comments in json).

[2021-05-27 01:33] aekiss commented on #30
@nichannah I think you mentioned yesterday that the terms with `"type": "scaling"` are multiplied, but the terms with `"type": "offset"` are added - have I got this right? i.e. are you doing this?

[code]

This is different from what I suggested [above](https://github.com/COSIMA/libaccessom2/issues/30#issuecomment-796202987), which was to add the terms in both cases, i.e.
[code]

I think your vers

[2021-05-28 00:04] aekiss commented on #30
Ah, never mind, I can see from the code that it's
[code]
so that's good.
https://github.com/COSIMA/libaccessom2/blob/5b6c697/libforcing/src/forcing_field.F90#L119-L198

[2021-06-04 01:59] nichannah commented on #30
Hi @rmholmes,

The latest yatm.exe here: /g/data/ik11/inputs/access-om2/bin/yatm_083f3bd.exe

Now supports the separable case, here is an example configuration:

[code]

This is ready to use and I'll update the experiment configs and the documentation next.

[2021-06-04 03:38] aekiss commented on #30
Thanks @nic - am I right in thinking that unknown dictionary keys will simply be ignored, so comments can be included like so?
[code]

[2021-06-04 13:08] nichannah commented on #30
Yes, that should work. However I think I'd like to change it so that the comment is necessary. The reason for this is that I think it's good to be able to detect typos.

[2021-07-01 06:34] aidanheerdegen opened #62 "Release incompatible with GitHub Actions CI for MOM5"
MOM5 is being updated to GitHub Actions CI (https://github.com/mom-ocean/MOM5/pull/343) but needs to run on `ubuntu-18.04` to do incompatibilities between `glibc` on later `ubuntu` runners and FMS.

The MOM5 CI uses a pre-built library built using CI, but currently this is being built using `ubuntu-latest` (`ubuntu-20.04`)  which uses an incompatible version of `gfortran`.  Upgrading the version o

[2021-07-01 07:01] #62 closed, assigned to nobody

[2021-07-02 05:13] aekiss commented on #31
closing - this use case is supported by the new perturbation feature - see https://github.com/COSIMA/libaccessom2/issues/30 and
https://github.com/COSIMA/access-om2/wiki/Tutorials#Scaling-the-forcing-fields

[2021-07-02 05:13] #31 closed, assigned to nichannah

[2021-07-04 23:47] aidanheerdegen opened #65 "Add automatic release publishing to GitHub CI"
MOM5 CI is currently stalled as there is no compatible libaccessom2 release currently being released by the CI.

https://github.com/mom-ocean/MOM5/pull/343

Add the logic developed in the test repo

https://github.com/aidanheerdegen/releasetest

[2021-07-05 01:07] #65 closed, assigned to nobody

[2021-07-05 07:00] aidanheerdegen commented on #30
Is there anyway to specify that the time dimension on the perturbation can be `MODULO` like the CORE-NYF forcings?
[code]
That way if users have a 10 year cycle of forcing they don't have to create a file with the same data repeating, and don't have to know how long the run has to be a priori.

[2021-07-05 07:00] aidanheerdegen commented on #30
ping @nichannah @aekiss

[2021-07-05 07:47] russfiedler commented on #30
This was originally a feature for the mighty Ferret. The time unit was assumed to be a year. So setting `modulo=10` would be the go. It's not a CF thing.

In netCDF files, the modulo attribute is specified as follows:

1) Specify the modulo length of the axis with the attribute modulo = <value>, e.g. var:modulo=100;

2) The modulo attribute from previous netCDF files remains unchanged: modulo = "

[2021-07-13 00:21] aidanheerdegen opened #67 "Check for comment in perturbation definition earlier"
There was confusion from someone defining a perturbation. They got this error:
[code]
even though the perturbation definition seemed fine:
[code]
The issue was a missing `comment` field, which is now mandatory, but the check for the comment is after this section
https://github.com/COSIMA/libaccessom2/blob/a227a616fac7a7d4795d2ebcca750292b6004683/libforcing/src/forcing_config.F90#L331-L333
so never

[2021-08-05 07:15] mpudig commented on #30
Hi @nichannah,

I have come across a potential bug when using the "perturbations" feature in forcing.json files.

I have run an experiment where using the "perturbations" feature I perform a constant in space and time perturbation to the rlds field by 8 (integer) and the tas field by 1.5 (float).

The results were surprising, in particular in the evolution of global average temperature. To investi

[2021-08-05 07:23] rmholmes commented on #30
Just to add to Matt's comment here, I performed simulations with the same config files but from cold starts (rather than starting from a spun-up control simulation) and found the same differences. Those runs are at
` /scratch/e14/rmh561/access-om2/archive/1deg_jra55v14_ryf_warmtest_file/`
and
` /scratch/e14/rmh561/access-om2/archive/1deg_jra55v14_ryf_warmtest_pert/`

Just to check whether there is

[2021-08-05 09:29] rmholmes commented on #30
Yes this must be some rounding/type error. I get exactly the same simulation result whether I use `"value": 1.5` or `"value": 1` as my constant offset for air temperature.

@nichannah can you track this down?

[2021-08-07 13:17] nichannah commented on #30
Thank you @mpudig and @rmholmes. Yes you're correct, it was rounding - also the tests were only doing scale/offset using integers. I'll push a fix and let you know when it is there.

[2021-08-10 13:56] nichannah commented on #30
I haven't yet had time to update all of the experiments, however I've pushed the fixes to YATM and tested. You can find the new executable here: /g/data/ik11/inputs/access-om2/bin/yatm_a28ed21.exe

[2021-08-10 22:45] mpudig commented on #30
Great! Thanks @nichannah.

[2021-08-11 00:01] mpudig opened #69 "Mismatch in calendar when using a temporal perturbation on the "experiment" calendar."
I am experiencing a slow-down in my ACCESS-OM2-1 simulations when applying a time-dependent, spatially constant perturbation.

However, the slow-down appears only to arise when I start from a spun-up control simulation. When I start from a cold start, my simulation runs fine (finishing 1 year in ~14 minutes wall time). Whereas when I start from a spun-up control simulation (starting at model year

[2021-08-16 00:34] aekiss commented on #40
Looks like PR https://github.com/COSIMA/libaccessom2/pull/51 was never merged, so I'm not sure why I closed this issue.

https://github.com/jacobwilliams/json-fortran development is continuing apace.

Our master is still using a version from over 2 years ago, now over 100 commits behind the latest. Should we upgrade?

[2021-08-16 00:37] aekiss commented on #40
PR https://github.com/COSIMA/libaccessom2/pull/51 is also quite out of date now (8.0.0; latest release is 8.2.3)

[2021-08-16 05:01] aekiss commented on #40
... now the latest is 8.2.4

[2021-08-17 05:53] rmholmes commented on #69
I think we may have figured out the cause of this. Will post again shortly.

[2021-08-26 23:04] rmholmes commented on #69
We have solved the slow-down problem. The time axis in the perturbation file did not cover the simulation time range and so there was some extrapolation going on. Really, it should spit out a warning/error if this is the case?

However, in solving that problem we have encountered another to do with __leap years__. We are using a "temporal", "offset" forcing perturbation with the "experiment" calen

[2021-08-31 01:48] rmholmes commented on #69
Just adding another note here: I thought this could be associated with how I was putting the time variable back in the netcdf file (by calculating by hand the days since 1900-01-01). However, if I instead let xarray do this by keeping the time variables as `cftime_DatetimeNoLeap` objects (and `encoding['units'] = "days since '1900-01-01'"`), I still lose a day every leap year. There must be some p

[2021-08-31 22:29] rmholmes commented on #69
We have figured out a hack workaround here by simply increasing the period of our oscillation by `365.25/365`. We are no longer losing leap days, but it really is a hack. There is clearly still some bug in there as the transition times that we're putting in don't match what we get out:
[code]
But it works for our purposes...

[2021-09-20 07:35] aekiss commented on #40
Or consider this PR that updates both json-fortran and datetime-fortran https://github.com/COSIMA/libaccessom2/pull/71

[2021-10-08 06:50] mauricehuguenin commented on #30
Hi all,
I would like to use the additive forcing function with the temporal and spatial options, i.e. using
[code]
The goal is to add a time-varying perturbation to the RYF fields that consists of the N34(t) index multiplied with a constant spatial pattern uas(x,y). To include the new input files I have added
[code]
to the `config.yaml` file (line 26) and I have also added to `config.yaml` the sto

[2021-10-08 11:58] aidanheerdegen commented on #30
Storage flags added to qsub_flags are ignored. payu automatically determines the required storage flags by examining paths in the manifests.

Just run
[code]
to populate the manifests, then  `payu sweep` to delete the work directory and run as normal.

[2021-10-10 23:02] mauricehuguenin commented on #30
Thank you Aidan. It looks like an attribute is missing in one of the input files because the model aborts with:
[code]
My perturbation time series `/g/data/e14/mv7494/JRA55-do-1-5-0/N34_time_series_uas_yr1.nc` has a `time_bnds` attribute but the spatial pattern `/g/data/e14/mv7494/JRA55-do-1-5-0/N34_regressed_anom_field_uas.nc` is only 2D and does not have such an attribute.

@nichannah Do you sti

[2021-10-11 00:28] rmholmes commented on #30
@mauricehuguenin I successfully got a temporally-constant, spatially-varying perturbation working at `/home/561/rmh561/access-om2/1deg_jra55v14_ryf_rcpWCWCpactest`. Maybe checkout the script `ACCESS-OM2_OceanHeat_Make_Scaling.ipynb` in that folder, and the spatial perturbation file at `/g/data/e14/rmh561/access-om2/input/RCP/scaling/RYF.rlds.1990_1991_scalingPAC.nc`. Worth a look - but this was an

[2021-10-11 00:33] aidanheerdegen commented on #30
@mauricehuguenin I believe the netCDF library is complaining because your variable has a `bounds` attribute which references a non-existent variable `time_bnds`.

If you include a `bounds` attribute you have to have the referenced variable present in the file.

[2021-10-13 21:41] mauricehuguenin commented on #30
I found the issue that caused the model to crash: at some point during my troubleshooting I copied over an `atmosphere/forcing.json` file that Ryan used and in that file `rhuss` was used as an input file instead of `huss` which is now used in the current [atmosphere/forcing.json](https://github.com/COSIMA/1deg_jra55_iaf/blob/master/atmosphere/forcing.json) version.

My multi-year simulation with h

[2021-10-19 06:30] mauricehuguenin opened #72 "Using the latest executables in an older simulation"
We (Ryan, me) would like to run some perturbation experiments in ACCESS-OM2-025 using the new perturbations code in `libaccessom2` using `atmosphere/forcing.json`.  We would like to branch these simulations off the 650-year `025deg_jra55_ryf` spin-up at `/g/data/ik11/outputs/access-om2-025/025deg_jra55_ryf9091_gadi`.

However, this spin-up was performed with old executables (see https://github.com

[2021-10-21 00:33] aekiss commented on #72
hmm, yes the latest libaccessom2 is set up for JRA55-do 1.4 which has separate solid and liquid runoff and is incompatible with JRA55-do 1.3. We may need to set up a JRA55-do 1.3 branch for libaccessom2 and cherry-pick the perturbation code changes.

@nichannah does that sound possible?

[2021-10-21 06:17] aekiss commented on #72
@mauricehuguenin your executables are really old - they use libaccessom2 1bb8904 from 10 Dec 2019.

There have been a lot of commits since then, so applying the perturbation code changes could be tricky, but that's really a question for @nichannah.

It looks like the most recent commit supporting JRA55-do v1.3 was f6cf437 from 16 Apr 2020, so that might make a better starting point.

JRA55-do 1.4

[2021-10-26 06:12] rmholmes commented on #72
Thanks @aekiss! Yes the `025deg_jra55_ryf9091_gadi` spin-up was started at the end of December 2019, soon after Gadi came online. It would be a pity not to continue to use it given the resources that went into it.

@mauricehuguenin a good starting point might be to try using the `f6cf437` libaccessom2 commit to extend the control run. If that works, then we can think about building the more recent

[2021-10-26 22:06] mauricehuguenin commented on #72
I fetched the commit from the 16th of April https://github.com/COSIMA/025deg_jra55_ryf/commit/2eb6a35c0b20cf9f7751918cdfa9c221e92ad451 that has changes to `atmosphere/forcing.json`, `config.yaml` and `ice/ice_input.nml`. I then changed to the latest `_a227a61` executables as those have the additive forcing functions.

Extending the spin-up with the `2eb6a35c` commit works fine, with the latest exe

[2021-10-26 22:58] rmholmes commented on #72
@mauricehuguenin I presume your run is the one at `/home/561/mv7494/access-om2/025deg_jra55_ryf_ENSOWind/`? If so, the error looks like ` Invalid restart_format: nc`. This seems to be a cice error associated with the ice restarts (in https://github.com/COSIMA/cice5/blob/master/io_pio/ice_restart.F90). Something to do with Parallel IO changes??

However, in looking around I also noticed that there

[2021-10-27 00:36] mauricehuguenin commented on #72
I agree that this is the way to go. With the following changes to Ryan's [025deg_jra55_ryf/ryf9091_gadi](https://github.com/rmholmes/025deg_jra55_ryf/tree/ryf9091_gadi) spin-up:

In `atmosphere/forcing.json`:
[code]
In `config.yaml` the latest executables:
[code]
In `/ice/input_ice.nml`:
[code]
I run into the `Invalid restart_format: nc` abort. @aekiss Do you maybe know what might happen here? Is

[2021-10-27 00:39] aidanheerdegen commented on #72
@rmholmes If you want to keep this spin up would an alternate option be to try spinning off a new control with the updated forcing (just use the ocean temp/salt state as the initial conditions), and keep running the control you have for a decade, say, and compare to your new control run. Then compare and see if you're happy that they're broadly similar, or if they are different it is what you'd ex

[2021-10-27 01:35] rmholmes commented on #72
@aidanheerdegen that is another option, although changing forcing mid-way through a run is not very clean. If the differences between v1.3 and v1.4 are not significant it may not make a big difference.

@nichannah - it would be great to your opinion on whether minor tweaks to the code to make it backwards-compatible are feasible.

[2021-10-27 02:02] aekiss commented on #72
The default restart format was changed to `pio` in recent executables.
You could try setting `restart_format = 'nc'` in `&setup_nml` in `ice/cice_in.nml`.
This will disable parallel IO but that's less important at 0.25deg.

[2021-10-27 02:26] mauricehuguenin commented on #72
Thanks Andrew, this option is already active in `ice/cice_in.nml` so it might be something else that is causing it.

[2021-10-27 03:11] aekiss commented on #72
Ah ok, that may be the problem - have you tried `restart_format = 'pio'`?

[2021-10-27 03:16] aekiss commented on #72
FYI I'm in the process of updating the model executables. This will include a fix to a bug in libaccessom2 a227a61.

[2021-10-27 08:57] mauricehuguenin commented on #72
It works! I extended the spin-up by two years and the output is what I expected.

I switched to `restart_format = 'pio'` in `ice/cice_in.nml` and also replaced the `#Collation` and `#Misc` flags in the `config.yaml` file with those of the latest https://github.com/COSIMA/025deg_jra55_ryf/commit/2b2be7bb2152229688548fe7d648ef09932f0ae1 commit to avoid segmentation fault errors.

[2021-10-28 07:20] aekiss commented on #72
@mauricehuguenin I've put the latest executables here. It might be good to use these instead as they include a fix to a [rounding error bug in libaccessom2](https://github.com/COSIMA/libaccessom2/issues/30#issuecomment-894654021). But they are completely untested so I'd be interested to hear if you have any issues with them.
[code]

[2022-01-12 01:21] mauricehuguenin commented on #30
Hi all, it has been a while since my last comment. I was focusing on a different project.

My goal is to run a multi-year simulation with a ramp up (year 1) and ramp down (year 2) of spatially constant and time varying anomalies. In `atmosphere/forcing.json` I use

[code]
When using `"calendar": "experiment",` the simulation does not include the additional anomalies and the output is identical to

[2022-01-12 01:25] mauricehuguenin commented on #72
I can confirm that these latest executables work with no issues. 👍

[2022-01-12 01:40] rmholmes commented on #30
@mauricehuguenin before continuing and just to make sure; have you first checked that your files work with `"calendar": "experiment"` using just a constant spatial pattern? E.g. does the following work?

[code]

[2022-01-13 03:31] rmholmes commented on #72
@mauricehuguenin if this is working - can you close the issue?

[2022-03-10 03:02] mpudig commented on #72
Hi - Ryan and I are attempting to run an RYF9091 ACCESS-OM2-01 simulation that supports relative humidity forcing and the perturbations code. We have used the same executables (but for 1/10-deg) posted above by @aekiss and are restarting from `/g/data/ik11/outputs/access-om2-01/01deg_jra55v13_ryf9091/restart995`.

The model is crashing because of what we believe to be a parallel I/O problem in the

[2022-03-10 03:12] aidanheerdegen commented on #72
The stack traces point to different builds, don't know if that is relevant, but if they're built against different MPI and/or PIO/netCDF/HDF5 libraries it might be problematic:
[code]
So specifically ` /home/156/aek156/github/COSIMA/access-om2-new/` and `/home/156/aek156/github/COSIMA/access-om2`

[2022-03-10 03:55] aekiss commented on #72
Does this configuration work with other executables?

[2022-03-10 03:56] russfiedler commented on #72
I also note that the `status` of the various `pio_...` calls is hardly ever checked before the `pio_enddef` call that finally fails is called. Naughty programmers!
Anyway, it's dying in `ROMIO`

[2022-03-10 03:58] mpudig commented on #72
@aekiss, yes, we ran it with

`/g/data/ik11/inputs/access-om2/bin/yatm_a227a61.exe`
`/g/data/ik11/inputs/access-om2/bin/fms_ACCESS-OM_af3a94d_libaccessom2_a227a61.x`
`/g/data/ik11/inputs/access-om2/bin/cice_auscom_3600x2700_722p_2572851_libaccessom2_a227a61.exe`

originally and it crashed at the end of the first month as well.

[2022-03-10 04:02] aekiss commented on #72
Are [these](https://github.com/COSIMA/libaccessom2/issues/72#issuecomment-953570024) the versions you need to use, or would something else be more ideal? If so I could try compiling that.

[2022-03-10 04:04] mpudig commented on #72
Those are the latest ones we have used (https://github.com/mpudig/01deg_jra55_ryf/blob/v13_rcpcont/config.yaml) and the issue is still occurring with them.

I should maybe add too that these executables worked when running the 1/4-degree configuration (with relative humidity forcing)!

[2022-03-10 04:20] russfiedler commented on #72
You haven't set the correct switches for using PIO in the `mpirun` command in `config.yaml`

e.g.
`mpirun: --mca io ompio --mca io_ompio_num_aggregators 1`
Also you want to set the UCX_LOG_LEVEL
See, for example

`/g/data/ik11/outputs//access-om2-01/01deg_jra55v140_iaf_cycle4/output830/config.yaml`

[2022-03-10 04:25] rmholmes commented on #72
Ah thanks @russfiedler, that indeed looks promising. @mpudig can you try again including all the options between `# Misc` and `userscripts` in the `config.yaml` that Russ has listed above? Don't add the `userscripts` because currently those aren't in your config directory.

[2022-03-10 04:27] rmholmes commented on #72
Also - I guess it would be best to remove the specification of `openmpi/4.0.1` as that could clash with the versions used for compilation?

[2022-03-10 04:31] russfiedler commented on #72
There could be other things in the `cice_in.nml` file that might need checking for PIO use.
You're probably right about that openmpi version. I'm not sure why it's there or what its affect is.

[2022-03-10 04:35] aidanheerdegen commented on #72
Specifying modules like that overrides the automatic discovery using `ldd`, which is what `mpirun` does too I believe. Yes it is best not to do that, and just let it find the right one to use.

[2022-03-10 04:44] rmholmes commented on #72
I've compared the `cice_in.nml` files (see `/scratch/e14/rmh561/diff_cice_in.nml`). The only differences I see that could be relevant are the `history_chunksize` ones - do these need to be specificed for the parallel I/O?

[2022-03-10 04:49] aekiss commented on #72
yes, Nic added these for parallel IO

[2022-03-10 04:51] aekiss commented on #72
might be worth comparing your whole config with https://github.com/COSIMA/01deg_jra55_ryf to see if there's anything else amiss

[2022-03-14 23:57] mpudig commented on #72
Hi, thanks all for your comments the other day. Implementing Russ's comments on including `mpirun: --mca io ompio --mca io_ompio_num_aggregators 1` in `config.yaml` and Ryan's on adding `history_chunksize` to `cice_in.nml` fixed the original issue: the model ran successfully past month 1 and completed a full 3-month simulation.

However, the output has troubled us slightly. Comparing to the `ik11`

[2022-03-15 00:17] mauricehuguenin commented on #72
I can see that the run on `ik11` uses additional input for mom:
[code]
Matt is running without these passive fields on `/g/data/x77`. Is this input maybe causing the difference in the global fields? Unfortunately I am not a member of `x77` and cannot have a look at the fields.

[2022-03-15 00:20] rmholmes commented on #72
@mauricehuguenin that's just a passive tracer that Andy had included in the original control run. It won't influence the physics.

[2022-03-16 23:58] aekiss commented on #72
Hmm, that seems surprising to me. Have you carefully checked all your .nml files?
nmltab can make this easier: https://github.com/aekiss/nmltab

[2022-03-17 00:00] aekiss commented on #72
You're using all the same input files, right?

[2022-03-17 06:50] mpudig commented on #72
One difference is that we use `RYF.r_10.1990_1991.nc` instead of `RYF.q_10.1990_1991.nc` as an atmospheric input field. But since no perturbation has been applied this shouldn't change things substantially. I think @rmholmes has tested this pretty extensively.

There are a few differences between some .nml files. I assume they're mostly because of various updates since the ik11 simulation was run

[2022-03-17 11:23] rmholmes commented on #72
In addition to Matt's comments above, yes we're using the same inputs (`input_08022019`).

[2022-04-06 23:39] aekiss opened #73 "handle ERA5 leap year Feb inputs"
The `end_day` field in `forcing.json` is always replaced by 28 in February, even in a leap year, causing run failure:
https://github.com/COSIMA/access-om2/issues/242#issuecomment-1089881847

Looks like this could be fixed with some small changes to https://github.com/COSIMA/libaccessom2/blob/master/libutil/src/util.F90
perhaps using [`isLeapYear`](https://github.com/wavebitscientific/datetime-fort

[2022-04-07 05:59] #73 closed, assigned to micaeljtoliveira

[2022-04-07 08:15] aekiss commented on #73
Test run works as expected

[2022-07-26 10:41] aekiss commented on #36
Looks like the non-ERA5 tests need to be updated for compatibility with the changes to the `forcing.json` format, in particular https://github.com/COSIMA/libaccessom2/commit/a451a7f8d430077263575a0ea229f883b8d4a259 and https://github.com/COSIMA/libaccessom2/commit/467e3e2848ae50a770941325de0c2b2faa63d20d

[2022-07-26 11:15] aekiss opened #75 "back-compatibility with old forcing.json format"
The current libaccessom2 master has breaking changes to the `forcing.json` format, in particular https://github.com/COSIMA/libaccessom2/commit/a451a7f8d430077263575a0ea229f883b8d4a259 and https://github.com/COSIMA/libaccessom2/commit/467e3e2848ae50a770941325de0c2b2faa63d20d which were made to [support ERA5](https://github.com/COSIMA/access-om2/issues/242).

Consequently the [standard ACCESS-OM2 co

[2022-07-27 05:00] aekiss commented on #36
... or alternatively, libaccessom2 could be made back-compatible with the older `forcing.json` format - see https://github.com/COSIMA/libaccessom2/issues/75

[2022-08-05 10:31] aekiss commented on #75
Runs with a standard config fail with the latest libaccessom2 https://github.com/COSIMA/libaccessom2/commit/70e2c46 with message
[code]
This assertion was added in https://github.com/COSIMA/libaccessom2/commit/a451a7f8d430077263575a0ea229f883b8d4a259.

But weirdly, these configs work with https://github.com/COSIMA/libaccessom2/commit/0ab7295 despite it being newer than https://github.com/COSIMA/li

[2022-08-06 01:40] aekiss commented on #75
Ah, I see -  https://github.com/COSIMA/libaccessom2/commit/a451a7f8d430077263575a0ea229f883b8d4a259 and https://github.com/COSIMA/libaccessom2/commit/467e3e2848ae50a770941325de0c2b2faa63d20d were [on branch 242-era5-support](https://github.com/COSIMA/libaccessom2/network), which was later merged with https://github.com/COSIMA/libaccessom2/commit/0ab7295.

We should fast-forward branch [242-era5-su

[2022-08-08 03:12] aekiss commented on #75
I fast-forward branch [242-era5-support](https://github.com/COSIMA/libaccessom2/tree/242-era5-support) to https://github.com/COSIMA/libaccessom2/commit/70e2c46 via
[code]
(probably didn't need all the `git submodule update --init --recursive`)

Still need to change `master` to point to https://github.com/COSIMA/libaccessom2/commit/0ab7295

[2022-08-08 04:36] aekiss commented on #75
@micaeljtoliveira, @nichannah, @aidanheerdegen, @russfiedler, @penguian, just a heads-up that I'm about to reset the commit that `master` points to, via
[code]
so you might notice some weirdness next time you pull.

[2022-08-08 22:14] aekiss opened #76 "GitHub CI failing"
GitHub CI started failing after I reset master to a previous commit https://github.com/COSIMA/libaccessom2/issues/75#issuecomment-1207656336

@micaeljtoliveira could you take a look please?

[2022-08-09 02:45] #76 closed, assigned to micaeljtoliveira

[2022-08-09 05:53] aekiss commented on #75
`master` and `242-era5-support` are now separate, divergent branches

[2022-08-11 05:44] aekiss commented on #36
`master` and `242-era5-support` are now separate, divergent branches - see https://github.com/COSIMA/libaccessom2/issues/75.

Non-ERA5 tests should now work with `master`, but ERA5 tests will fail.

[2022-11-30 23:00] rmholmes opened #78 "libaccessom2 doesn't deal with netcdf unpacking properly (we think...) in ERA-5 runs"
As described on the [ERA-5 forcing issue](https://github.com/COSIMA/access-om2/issues/242) I think libaccessom2 may have an issue dealing with netcdf unpacking across file boundaries. I'll summarize the problem here.

The problem occurs when transitioning between two months (the ERA-5 forcing is stored in monthly files), best demonstrated by plotting daily minimum wind stress at 92W, 0N from a `1d

[2022-11-30 23:02] rmholmes commented on #78
Note: It doesn't look like this error will have affected the JRA-55 forced runs because these don't seem to use netcdf packing (no `add_offset` or `scale_factor` in the forcing files).